html, body, #sidebar, #propery-details, #mapcontainer, .main-container {
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
}

.container-fluid {
  background: #45caff;
  margin: 0;
}

#navbar {
  padding: 0;
  margin: 0;
}

.main-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  width: 100%;
  overflow-y: hidden;
}

#sidebar {
  background: #eeeeee;
  width: 360px;
  overflow: scroll;
}

#mapcontainer {
  flex-grow: 1;
}

#property-details {
position: fixed;
overflow: scroll;
  background: #eeeeee;
  width: 360px;
  left: -360px;
  height: 100%;
  transition: all 250ms linear;
}

#property-details.active {
  left:0px;
}

#legend-container {
  position:absolute;
  flex-grow: 1;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
  line-height: 18px;
  height: 100px;
  width: 300px;
  right: 30px;
  bottom: 30px;
  background-color:  rgba(255,255,255,0.9);
}

.info-container {
  font-family: "math", sans-serif;
  font-weight: lighter;
  margin-left: 15px;
  padding; 15px;
  font-size: 14px;

}

h1 {
  font-family: "Gill Sans", sans-serif;
  font-size: 34px;
  font-color: white;
  padding: 10px;
  margin: auto;
  margin-left: 10px;

}

h2 {
  font-family: "math", sans-serif;
  font-size: 20px;
  font-color: #636363;
  margin-top: 20px;
  margin-left: 10px;
  font
}

h3 {
  font-family: "math", sans-serif;
  font-size: 14px;
  font-color: #636363;
  padding-left: 10px;
}

h4 {
  font-family: sans-serif;
  font-size: 11px;
  font-color: #636363;
  padding: 10px;
}

p {
  font-family: "math",sans-serif;
  font-size: 14px;
  font-weight: lighter;
  font-color: #636363;
  padding: 10px;
}

.colors {
  width: 100%;
  height: 30px;
}

#c1 {
  height: 23px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #45caff, #7DDAFF, white, #ff1b6b, #A10038);
}

.color-container {
  margin-top: 4px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 15px;
  font-weight:400;
  font-size: 14px;
}

.color-code {
  display:flex;
  margin: 10px;
}

.legend-head {
  font-family: "math", sans-serif;
  text-align: center;
  font-size: 16px;
}

.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
